<!DOCTYPE html>
<html lang="en" style="height:100%;">
  <head>
    <meta charset="utf-8">
    <title>DI Afghan Election Surveys</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Loading Bootstrap -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/carousel.css" rel="stylesheet">

    <!-- Other Libraries -->
    <link href='http://api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.css' rel='stylesheet'>
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <!--[if lte IE 8]>
    <link href='//api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.ie.css' rel='stylesheet' />
    <![endif]-->

    <!-- Loading Google Fonts Open Sans -->
<!--     <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800,600' rel='stylesheet' type='text/css'> -->

    <!-- Loading Favicon -->
    <link rel="shortcut icon" href="images/favicon.ico">

    <!-- Loading Custom CSS -->
    <link href="css/app.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
    <![endif]-->
  </head>
  <body>
    <!-- <div class="sizeTests">
        <div class="sizeTest visible-xs">X-Small</div>
        <div class="sizeTest visible-sm">Small</div>
        <div class="sizeTest visible-md">Medim</div>
        <div class="sizeTest visible-lg">Large</div>
        <div class="sizeTest" id="pageWidth"></div>
    </div> -->
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Afghan Election Surveys</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class=""><a href="#">Main Findings</a></li>
                    <li><a href="#">December Survey</a></li>
                    <li><a href="#">January Survey</a></li>
                    <li><a href="#">March Survey</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class=""><a href="#"><i class="fa fa-info-circle"></i></span> About</a></li>
                    <li class=""><a href="#"><i class="fa fa-cloud-download"></i></span> Data</a></li>
                </ul>
            </div>
        </div>
    </div>
    
    <div id="header">
    </div>

    <div id="home-content" class="container marketing">
        <div class="row" id="home-content-row">
        </div>
    </div>

    <div id="about" class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="page-header">
                    <h1>About DI&apos;s Afghan Public Opinion Polling Project</h1>
                </div>
                <p>In advance of presidential and provincial council elections in Afghanistan planned for April 2014, Democracy International will conduct three nationwide surveys to learn about voter preferences on key election issues, voter participation trends, and candidates. Working with Soft Power Solutions, a respected Afghan research firm, DI is developing a robust, reproducible survey design to sample more than 2,500 eligible voters. DI will initiate the first survey after the Afghan Independent Election Commission publishes its official candidate list, expected in mid-November.</p>

                <p>To supplement the in-person surveys, DI will also conduct focus groups in urban and rural areas to further explore political perceptions in varying social environments. DI is drawing upon its extensive experience with nationwide surveys in Afghanistan (see our 2012 and 2013 surveys) to design a context-appropriate methodology that respects cultural and gender sensitivities, accounts for geographic challenges, and overcomes the obstacles presented by the country’s unreliable infrastructure and telecommunications networks.</p>
            </div>
        </div>
    </div>

    <div id="methodology" class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="page-header">
                    <h1>Survey Methodology</h1>
                </div>
                <p>In advance of presidential and provincial council elections in Afghanistan planned for April 2014, Democracy International will conduct three nationwide surveys to learn about voter preferences on key election issues, voter participation trends, and candidates. Working with Soft Power Solutions, a respected Afghan research firm, DI is developing a robust, reproducible survey design to sample more than 2,500 eligible voters. DI will initiate the first survey after the Afghan Independent Election Commission publishes its official candidate list, expected in mid-November.</p>

                <p>To supplement the in-person surveys, DI will also conduct focus groups in urban and rural areas to further explore political perceptions in varying social environments. DI is drawing upon its extensive experience with nationwide surveys in Afghanistan (see our 2012 and 2013 surveys) to design a context-appropriate methodology that respects cultural and gender sensitivities, accounts for geographic challenges, and overcomes the obstacles presented by the country’s unreliable infrastructure and telecommunications networks.</p>
            </div>
        </div>
    </div>

    <footer class="footer-container">
        <div class="container">
            <div class="row">
                <div class="col-sm-2">
                    <a href="http://www.democracyinternational.com"><img src="img/logo-gray.png" style="width: 100%"></a>
                </div>
                <div class="col-sm-6 pull-right">
                    <ul class="list-inline">
                        <li>Copyright 2014 Democracy International, Inc.</li>
                        <li><i class="fa fa-twitter-square fa-3x"></i></li>
                        <li><i class="fa fa-facebook-square fa-3x"></i></li>
                        <li><i class="fa fa-github-square fa-3x"></i></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    
    <!-- ***************** MODALS **************** -->
    <!-- Filter Modal -->

    <script type="text/template" id="headerTemplate">
        <div class="row header-headline center-block">
            <div>
                <h1 class="text-center">December Survey Results</h1>
            </div>
        </div>
    </script>

    <!-- assumes columns is an array of strings, need to change if its an object -->
    <script type="text/template" id="homeItemTemplate">
        <img class="img-circle home-circle-img" src=<%= imageSource %>>
        <h2><%= title %></h2>
        <p><%= text %></p>
        <p><a href="" class="btn btn-default"><%= button %></a></p>
    </script>


    <!-- Load jQuery and Bootstrap JS =============================-->
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>

    <!-- Load Other libraries -->

    <script src='http://api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.js'></script>
    
    <!-- Load Backbone core and Backbone Models, Collections, Views, Routers --> 

    <script src="js/lib/underscore-min.js"></script>
    <script src="js/lib/backbone-min.js"></script>
    <script src="js/models/home-content-item.js"></script>
    <script src="js/collections/home-content.js"></script>
    <script src="js/views/header-view.js"></script>
    <script src="js/views/home-view.js"></script>
    <script src="js/views/home-content-item-view.js"></script>
    <script src="js/routers/router.js"></script>
    <script src="js/app.js"></script>

  </body>
</html>
